{% load i18n %}
  <div class="btn-group export">
  <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="modal" data-target="#msg_query_score" href="#">
      分组
  </a>

   <script>
        function get_buyer() {
            var arr=[];
            $(".grid-item.warning").each(function () {
                {#alert($(this).children('td').eq(2).html());#}
                arr.push($(this).children('td').eq(1).text().replace(/(^\s*)|(\s*$)/g, ""))
            });
            {#alert(arr);#}
            $("#buyer").val(arr)
        }
   </script>
  <div id="msg_query_score" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <form method="post" action="">{% csrf_token %}

                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">买手分组</h4>
                  </div>
                  <div class="modal-body">
                       <div class="input-group">
                          <span class="input-group-addon">标签</span>
                          <input name="tag" type="text" class="form-control">
                      </div>
                  </div>
              <div class="modal-footer">
                  <input type="hidden" name="buyer_list" value="" id="buyer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                  <button class="btn btn-success" type="submit" onclick="get_buyer()">确认</button>
              </div>
              </form>
          </div>
      </div>
  </div>
  </div>